*.exe
*.idea
*.cmake
*make
*.check_cache
*.rsp
*.marks
*.internal
*link.txt
*.includecache
*Makefile
*Makefile2
*Makefile3
*CMakeLists.txt
*CMakeCCompilerId.c
*.txt
*CMakeCXXCompilerId.cpp
*.bin
*.obj
*.cbp
*.a
*.log
..cmake-build-debug